{% extends 'FinFinanceBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="sub-header">Expense List</h2>
        </div>
        <div class="col-md-3">
            <a href="{{ path('fin_expense_new') }}" class="btn btn-lg btn-default pull-right m-t-15" target="_blank">Create a new entry</a>
        </div>
    </div>
        
    {%include 'FinFinanceBundle:Expense:table.html.twig'
        with {
                'entities': entities,
                'last_page' : last_page,
                'previous_page' : previous_page,
                'current_page' : current_page,
                'next_page' : next_page,
                'total_count' : total_count
            } 
    %}

{% endblock %}
